<section class="mainregistro">
    <form action="/" method="POST">
        <h3> Datos Personales</h3>
        <label for="fname"></label><br>
        <input type="text" placeholder="Nombre" id="fname" name="fname"><br><br>
        <label for="lname"></label><br>
        <input type="text" placeholder="Apellido" id="lname" name="lname"><br><br>
        <label for="address"></label><br>
        <input type="text" placeholder="Domicilio" id="address" name="address"><br><br>
        <label for="user"></label><br>
        <input type="text" placeholder="Nombre de usuario" id="user" name="user"><br><br>

        <h3> Fecha de Nacimiento</h3>
        <label for="birthday"></label><br>
        <input type="date" placeholder="Fecha de nacimiento" id="birthday" name="birthday"><br><br> 
        <label for="pass"></label><br>
        <input type="password" placeholder="Contraseña" id="pass" name="password" minlength="8" required><br>
        <label for="pass"></label><br>
        <input type="password" placeholder="Confirmar contraseña" id="pass" name="password" minlength="8" required><br><br>
        <input type="submit" value="Enviar información"> <input type="reset" value="Borrar información"> <br><br>
        
    
    </form>
</section>
