<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="css\general-styles.css" />
    <link rel="stylesheet" href="css\carrito.css" />
  </head>
  <header></header>

  <body>
        <h1>Mi carrito</h1>
        <section>
            <article>
                  <div class="padre">
                      <div>
                          <img src="./images/raviol.jpg"/>
                      </div>

                      <div>
                          <p>Ravioles</p>
                      </div>

                      <div class="quantity-container">
                        <button class="button">-</button>
                        <div class="quantity">
                        <span class="span-quantity">1</span>
                        </div>
                        <button class="button">+</button>
                    </div>

                      <div>
                        <p>Precio</p>
                      </div>

                      <div>
                        <a onclick="">Eliminar</a>
                      </div>

                  </div>
                
            </article>
        </section>
                <h3>¿Tenés un cupón de descuento?</h3>
                <div class="cupon">
                    <div>
                      <label for="fname"></label><br>
                      <input type="text" placeholder="codigo" id="fname" name="codigo">
                      <input class="boton" type="button" onclick="" value="Aplicar">
                    </div>
                </div>

                <div>
                  <h3>Subtotal</h3>
                  <h2>Total</h2><br>
                  <input class="boton" type="button" onclick="" value="Continuar comprando">
                  <input class="boton" type="button" onclick="" value="Finalizar compra">
                </div>


        <section>

        </section>

  </body>

  <footer></footer>
</html>
