<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MOLI: Natural & frozen food</title>
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/general-styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="topBar">Envios gratis desde $1.000</div>
            <img src="/images/logo-moli.png" alt="Logo Moli">
            <nav>
                <ul class="nav1">
                    <li><a href=#>Productos</a></li>
                    <li><a href=#>Recomendados</a></li>
                    <li><a href=#>Ofertas</a></li>
                    <li><a href=#>Nuevos</a></li>
                </ul>
                <ul class="nav2">
                    <li> <i class="fa fa-search"></i></li>
                    <li><i class="fas fa-shopping-basket"></i></li>
                    <li><a href= '/login'>Login</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
            <div class="hambMenu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <section >
            <img class="carrosuel" src="/images/wok.png" alt="Home Banner">
        </section>
        <main>
            <section class="referencia">
                <h3>Buscá tus productos por referencia</h3>
                <div class="tarjetasProducto">
                    <article>
                        <img class="imagenProducto" src="/images/proteinas.png" alt="alto en proteinas">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Alto en proteinas</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/lactosa.png" alt="libre de lacteos">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Libre de lacteos</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/grasa.png" alt="bajo en grasas">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Bajo en grasas</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/gluten.png" alt="libre de gluten">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Sin TACC</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/veggie.png" alt="vegetariano">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Vegetariano</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/hidratos.png" alt="bajo en hidratos">
                        <div class="descripcionAritculo">
                            <h4 class="descripcion">Bajo en hidratos</h4>
                        </div>
                    </article>
                </div>
                
            </section>
            <section class="sobreNosotros">
                <h3>¿Qué nos hace diferentes?</h3>         
                <p>Creemos que todos merecemos comer rico, saludable y facil, sin importar qué tan ocupados estemos en el dia a dia</p>
                <ol>
                    <li>Ingredientes 100% naturales</li>
                    <li>Teconologia de ultra congelado</li>
                    <li>Rico, como hecho en casa</li>
                </ol>
            </section>
            <section class="recomendados">
                <h3>Recomendados</h3>
                <div class="tarjetasProducto">
                    <article>
                        <img class="imagenProducto" src="/images/frambuesas.png" alt="frambuesas">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$550</p>
                        <!--     <p class="descuento">40% OFF</p> -->
                            <h4 class="descripcion">Frambuesas x 500gr</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/painChoco.png" alt="Pain au chocolat">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$400</p>
                           <!--  <p class="descuento">20% OFF</p> -->
                            <h4 class="descripcion">Pain au chocolat x 6 uni</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/tartaProducto.png" alt="Tarta">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$660</p>
                         <!--    <p class="descuento">10% OFF</p> -->
                            <h4 class="descripcion">Tarta de espinaca grande</h4> 
                        </div>
                    </article>
                    <article>
                        <img  class="imagenProducto" src="/images/papas.png" alt="Papas Baston">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio" >$120</p>
                         <!--    <p class="descuento">5% OFF</p> -->
                            <h4 class="descripcion">Papas baston x 500gr</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="recomendados">
                <h3>Ofertas</h3>
                <div class="tarjetasProducto">
                    <article>
                        <img class="imagenProducto" src="/images/frambuesas.png" alt="frambuesas">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$550</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Frambuesas x 500gr</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/painChoco.png" alt="Pain au chocolat">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$400</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class="descripcion">Pain au chocolat x 6 uni</h4>
                        </div>
                    </article>
                    <article>
                        <img class="imagenProducto" src="/images/tartaProducto.png" alt="Tarta">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$660</p>
                            <p class="descuento">10% OFF</p>
                            <h4 class="descripcion">Tarta de espinaca grande</h4> 
                        </div>
                    </article>
                    <article>
                        <img  class="imagenProducto" src="/images/papas.png" alt="Papas Baston">
                        <div class="descripcionAritculo">
                            <i class="fas fa-truck"></i>
                            <p class="precio" >$120</p>
                            <p class="descuento">5% OFF</p>
                            <h4 class="descripcion">Papas baston x 500gr</h4>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <section class="seccionFooter">
<!--                 <div>
                    <i class="fas fa-credit-card iconosFooter"></i>
                </div> -->
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="seccionFooter">
  <!--               <div>
                    <i class="fas fa-gift iconosFooter"></i>
                </div> -->
                <h4>Seguinos en las redes</h4>
                <p><i class="fab fa-facebook"></i>Facebook</p>
                <p><i class="fab fa-instagram"></i>Instagram</p>
            </section>
            <section class="seccionFooter">
<!--                 <div>
                    <i class="fas fa-user-shield iconosFooter"></i>
                </div> -->
                <h4>Informacion de conacto</h4>
                <p><i class="far fa-envelope"></i>molifrozenfood@gmail.com</p>
                <p><i class="fas fa-phone-alt"></i>+549 11 51143253</p>
                <p><i class="fas fa-map-marker-alt"></i>Av.Libertador 1428, CABA</p>
            </section>
            <section class="copyright">
                <p>Copyright © 2017-2020 Moli: Natural & Frozen Food</p>
            </section>
        </footer>
        <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    </body>
</html>