<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesion</title>
        <link rel="stylesheet" href="css\login.css">
        <link rel="stylesheet" href="css\estilo_general.css">
        <link rel="stylesheet" href="css\footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    </head>
    <body>
            <form class="main-form" action="/login" method="POST">
                <h1 class="main-form__titulo">Moli</h1>
                <div class="input-usuario">
                    <label class="main-form__label" for="usuario">Usuario</label><br>
                    <input id="usuario" name="usuario" type="text" placeholder="Nombre de usuario" class="main-form__input" required>
                </div>
                <div class="input-password">
                    <label class="main-form__label" for="Contrasenia">Contraseña</label><br>
                    <input id="Contrasenia" name="Contrasenia" type="password" placeholder="Contraseña" class="main-form__input" required>
                </div>
                <input class="button button-ingresar" type="submit" value="Ingresar">
            </form>
            <footer class="main-footer">
                <div class="footer">
                    <img src="" alt="Icono Facebook">
                    <span class="footer_texto" data-description=" Grupo 12 - All rights reserved">Moli \ 2021.</span>
                </div>
            </footer>
    </body>
</html>