<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Moli</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="ttps://fonts.google.com/specim
        en/Raleway" rel="stylesheet1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/stylesregistro.css">
        <link rel="stylesheet" href="css\general-styles.css" />
        <link rel="stylesheet" href="css\regmoli.css" />

    </head>
    <body>
        <header>
            <div class="topBar">Envios gratis desde $1.000</div>
            <img src="/images/logo-moli.png" alt="Logo Moli">
            <nav>
                <ul class="nav1">
                    <li><a href=#>Productos</a></li>
                    <li><a href=#>Recomendados</a></li>
                    <li><a href=#>Ofertas</a></li>
                    <li><a href=#>Nuevos</a></li>
                </ul>
                <ul class="nav2">
                    <li> <i class="fa fa-search"></i></li>
                    <li><i class="fas fa-shopping-basket"></i></li>
                    <li><a href= '/login'>Login</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
            <div class="hambMenu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main class="register">
            <form action="/" method="POST"> <br><br>
                <div class="datos">
                <label id="name"> Nombre </label> <br>
                <input type="text" name="name" placeholder="Ingresá tu nombre " minlength="5" required> <br> <BR>
                <label id="name"> Apellido </label> <br>
                <input type="text" name="name" placeholder="Ingresá tu apellido" minlength="5" required> <Br><BR>
                <label id="email"> Usuario </label> <br>                 
                <input type="email" name="email" placeholder="Ingresá un E-mail" required> <BR><BR>
                
                <label id="email"> Contraseña </label> <br>
                <input type="password" name="pass" placeholder="Elegí una contraseña" minlength= "8" required> <BR> <BR>
                <label id="email"> Repetir contraseña </label> <br> 
                <input type="password" name="pass_confirm" placeholder="Repetí tu contraseña" required>
                <br><br> <BR>

                <input class="button-submit" type="submit" value="Registrar">
                <br>
                 </div>   
               
            </form>
        </main>
        <footer>
            <section class="seccionFooter">
<!--               <div>
                    <i class="fas fa-credit-card iconosFooter"></i>
                </div> -->
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="seccionFooter">
  <!--               <div>
                    <i class="fas fa-gift iconosFooter"></i>
                </div> -->
                <h4>Seguinos en las redes</h4>
                <p><i class="fab fa-facebook"></i>Facebook</p>
                <p><i class="fab fa-instagram"></i>Instagram</p>
            </section>
            <section class="seccionFooter">
<!--                 <div>
                    <i class="fas fa-user-shield iconosFooter"></i>
                </div> -->
                <h4>Informacion de conacto</h4>
                <p><i class="far fa-envelope"></i>molifrozenfood@gmail.com</p>
                <p><i class="fas fa-phone-alt"></i>+549 11 51143253</p>
                <p><i class="fas fa-map-marker-alt"></i>Av.Libertador 1428, CABA</p>
            </section>
            <section class="copyright">
                <p>Copyright © 2017-2020 Moli: Natural & Frozen Food</p>
            </section>
        </footer>
    </body>
</html>