/* Fuentes generales */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* Iconos */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
  --primary-gray: #96bf85;
  --primary-blue: #c6cccc;
  --primary-withe: #f9f3e7;
  --primary-red: #f1b99e;
  --primary-orange: #cb7236;
  --header-typography: "Raleway", sans-serif;
  --sub-header-typography: "Playfair Display", serif;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Nunito", sans-serif;
  background-color: #e0e7e7;
}
body h3 {
  font-size: 24px;
  text-align: center;
  color: #666;
  margin: 20px 0px;
 
}

main {
  width: 90vw;
  margin: auto;
}

p {
  font-size: 12px;
}


main a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none !important;
  color: black !important;
}

/* Header */

.topBar {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: #f9f3e7;
  text-align: center;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 1px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  background-color: #96bf85;
  height: 100px;
  /* position: fixed;
  z-index: 1; */
  width: 100%;
}

header img,
nav {
  margin: 0px 20px 0px 20px;
}

/* Header logo */

header img {
  position: relative;
  top: 10px;
  width: 75px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

header .submit {
  width: 20%;
  padding: 5px;
  color: black;
  background-color: #96bf85;
  border-left: none;
}

/* Nav */

nav {
  display: none;
  font-size: 12px;
  margin-left: 20px;
  flex-grow: 2;
}

/* Estilo listas header */
header li {
  list-style-type: none;
}

header li a {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  padding: 5px;
}

.title-page {
  margin: 10% 0% 2%;
}

/* Hamburger */

.hambMenu {
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.hambMenu i {
  background-color: #96bf85;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

/* Carrousel */

.carrosuel {
  object-fit: cover;
  height: 495px;
}

/* Footer */

footer {
  margin-top: 20px;
  background-color: #f9f3e7;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

footer p,
h4 {
  font-size: 12px;
  padding: 2px;
}


.seccionFooter {
  text-align: center;
  margin: 20px 20px 20px 20px;
}

.seccionFooter i {
  margin: 5px;
}
.botonEnviar:hover {
  background-color: #0022aa;
  color: #fff;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
  color: white;
}

html {
  font-family: var(--header-typography);
}

button {
  width: 25%;
  border-color: var(--primary-gray);
  background-color: var(--primary-gray);
  color: white;
  font-weight: bold;
  border: outset;
  border-radius: 10%;
  height: 40px;
  font-size: 20px;
}
.button-submit {
  margin-top: 1rem;
  background-color: #96bf85;
  color: white;
  width: 100px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  border-radius: 12px;
  border: 2px solid gray;
  transition-duration: 0.4s;
  margin-left: 30px;
  font-weight: bold;
}
.button-submit:hover {
  filter: brightness(75%);
  color: white;
}

/* Media queries */

/* Tablet: 361 - 769*/
@media (min-width: 361px) {
  header img {
    position: relative;
    top: 10px;
    width: 10%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav ul li {
    padding: 5px;
  }

  .hambMenu {
    display: none;
  }

  div.headerTop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2%;
  }

  .headerTop p {
    width: auto;
  }
}

/* Desktop: 769 - infinito */
@media (min-width: 769px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .seccionFooter {
    width: 25%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  nav ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav ul li {
    padding: 10px;
  }
}
