body {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    align-items: center;
}

.main-form {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    border: solid 1px green;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10%;
    box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
    -moz-box-shadow: 4px 8px 16px rgba(0,0,0,.5);
    box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
}

.input-usuario, .input-password, .button-ingresar {
    margin: 0.2rem;
}

input {
    height: 25px;
}
.button-ingresar {
    margin-top: 1rem;
}

.button-ingresar:hover {
    filter: brightness(75%);
} 
@media (min-width:550px) {
    .description {
        max-width: 500px;
        margin: 3rem auto 1rem;
    }
}

@media (min-width: 769px) {

    .sections-container {
        display: flex;
    }

    .section1 {
        width: 70%;
    }
    
