@import url("general-styles.css");
@import url("forms.css");


/* .registrate {
  display: block;
  text-align: left;
  font-style: italic;
  margin-left: initial;
}

main form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px green;
  padding: 0 2rem 2rem 2rem;
  border-radius: 10%;
  box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
  box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
  align-items: center;
}
main form href {
  align-items: flex-start;
}

.input-usuario,
.input-password,
.button-submit {
  margin: 0.2rem;
}
input {
  height: 25px;
}
label {
  text-align: center;
  font-weight: bold;
}
 */
