body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E7E7;
    font-family: 'Nunito', sans-serif;
    
}

main form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px green;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10%;
    box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
    box-shadow: 4px 8px 16px rgb(0 0 0 / 50%);
    align-items: center;
    background-image: url(public\images\plato.jpg);
}

.input-usuario, .input-password, .button-submit {
    margin: 0.2rem;
}
input {
    height: 25px;
}
label {
    text-align: center;
    font-weight: bold;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    background-color: #96BF85 ;
    height: 100px;
  }
  
  header img, nav {
    margin: 0px 20px 0px 20px;
  }
  