@import url('general-styles.css');

h1 {
    text-align: center;
    font-weight: bold;
}
/* 
.title {

} */

.section1, .item-description {
    margin: 1rem;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}

.quantity-container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 40px;
}

.quantity {
    width: 50%;
    border: solid 0.5px var(--primary-blue);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-quantity {
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-gray);
}

h2 {
    margin: 5px 0;
}

.prize-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
}

.prize {
    font-weight: bold;
    font-size: 30px;
}

dt {
    font-weight: bold;
}

article {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin: 3rem 1rem 1rem 1rem;
}

.button-submit {
    font-weight: lighter;
    font-size: 15px;
}

.title-and-img {
    display: flex;
    flex-direction: column;
}

button:hover {
    filter: brightness(70%);
}

.section2 {
    margin: 0 1rem;
}
/* 
.sections-container {

}

.articles-container {

} */

@media (min-width:550px) {
    .description {
        max-width: 500px;
        margin: 1rem auto 1rem;
    }
}

@media (min-width: 769px) {

    .sections-container {
        display: flex;
    }

    .section1 {
        width: 70%;
    }

    .img {
        height: 400px;
    }

    .title {
        margin-top: 2rem;
    }

    .section2 {
        margin-top: 5rem;
    }

    .title-quantity, .title-prize, .title-description {
        display: none;
    }

    .prize {
        border-style: inset;
        border-radius: 10%;
    }
}

@media (min-width: 900px) {

    .section2 {
        margin-right: 10%;
    }
}