@import url("general-styles.css");

.containerForm {
  margin-top: 70px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-delete{
  padding: 0px;
}
form {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    border-radius: 2%;
}


/* CSS */
.button-general {
  background-image: linear-gradient(-180deg, #96bf85 0%, #93be81 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border: 0;
  cursor: pointer;
  align-self: center;
}

.button-general:hover {
  background-image: linear-gradient(-180deg, #87ac77 0%, #769768 100%);
}

.buttonForm {
  display: flex;
  justify-content: center;
}

.formImage {
  align-self: center;
  width: 50%;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.box-textarea {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.box-textarea input {
    width: 100%;
}
.formBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}


.form-title {
  text-align: center;
  margin-bottom: 20px;
}
.form-input {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius:10px;
  width: 90%;
  margin: 10px;
  align-self: center;
}

.form-label {
    margin: 10px;
}

