@import url("general-styles.css");

html {
  scroll-behavior: smooth;
}
/* H3 */

body h3 {
  background-color: none;
}
/* Imagenes */

img {
  width: 100%;
}



/* Sobre nosotros  */

.sobreNosotros {
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(/images/frutas.jpg);
  padding: 10%;
}

.sobreNosotros h3 {
  margin-top: 150px;
  background-color: none;
}
.sobreNosotros p {
  margin-bottom: 10px;
  font-size: 16px;
}

.sobreNosotros ol {
  font-weight: bolder;
  padding: 5px;
}

/* Section */

main section {
  display: flex;
  flex-wrap: wrap;
}

/* Articulos */
main section article {
  background-color: #fff;
  margin: 10px;
  box-shadow: 0px 0px 0px white;
  transition: box-shadow 0.5s ease-in-out;
}

main .referencia {
  width: auto;
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article:hover .descripcion {
  display: initial;
}

/*Seccion card productos  */

.tarjetasProducto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.tarjetasProducto article {
  width: 300px;
  min-height: 320px;
}

/* Busca por referencia  */

#referencia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
  min-height: 200px;
}


#referencia article {
  width: 140px;
  min-height: 150px;
}

/* Descripcion aritculos */

article div.descripcionAritculo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

.descripcion {
  margin: 5px;
  color: #666;
}

.descripcion,
.descuento, .precio {
  font-size: 14px;
  font-weight: normal;
  padding: 2px;
}

/* Icono camion */

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 1s;
}

main section article i:hover {
  transform: rotate(-90deg);
}

.fa-truck:before {
  color: var(--primary-gray);
}
/* Media queries */

/* Tablet: 361 - 769*/
@media (min-width: 361px) {
  .descripcion {
    display: block;
  }

  .sobreNosotros {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(/images/fondo2.png);
    background-size: cover;
    padding: 50px;
  }

  .sobreNosotros h3 {
    margin: 10px 5px;
    color: black;
    padding: 0px;
    text-align: start;
    background-color: none;
  }

  .sobreNosotros p {
    font-size: 16px;
    font-weight: bolder;
    margin: 10px 5px;
    color: black;
    padding-right: 400px;
  }

  .sobreNosotros ol {
    font-weight: bolder;
    padding: 5px;
    margin-left: 40px;
  }

  main section div.tarjetasProducto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: stretch;
  }

}

/* Desktop: 769 - infinito */
@media (min-width: 769px) {
  

  .referencia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .seccionFooter {
    width: 25%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  nav ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav ul li {
    padding: 10px;
  }
}
