<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'carrito.css'}) %>

  <body>
    <!-- Header -->
    <%- include ('./partials/header') %>
    <main>
      <h1>Mi carrito</h1>
      <div class="sectores">
        <section class="sector1">
          <article>
            <div class="padre">
              <div class="imagen">
                <img src="../images/raviol.jpg" />
              </div>

              <div>
                <p class="descrip">Ravioles</p>
              </div>

              <div>
                <button class="botton">-</button>
                <div class="quantity">
                  <span class="span-quantity">1</span>
                </div>
                <button class="botton">+</button>
              </div>

              <div>
                <p class="precio">$1299.00</p>
              </div>

              <div>

                <input class="Eliminar" type="submit" value="Eliminar">

              </div>

            </div>

          </article>
          <article>
            <div class="padre">
              <div class="imagen">
                <img src="..\images\papas.png" />
              </div>

              <div>
                <p class="descrip">Papas Fritas</p>
              </div>

              <div>
                <button class="botton">-</button>
                <div class="quantity">
                  <span class="span-quantity">1</span>
                </div>
                <button class="botton">+</button>
              </div>

              <div>
                <p class="precio">$899.00</p>
              </div>

              <div>

                <input class="Eliminar" type="submit" value="Eliminar">

              </div>

            </div>

          </article>
          <article>
            <div class="padre">
              <div class="imagen">
                <img src="..\images\wok.png" />
              </div>

              <div>
                <p class="descrip">Wok</p>
              </div>

              <div>
                <button class="botton">-</button>
                <div class="quantity">
                  <span class="span-quantity">1</span>
                </div>
                <button class="botton">+</button>
              </div>

              <div>
                <p class="precio">$1499.00</p>
              </div>

              <div>

                <input class="Eliminar" type="submit" value="Eliminar">

              </div>

            </div>

          </article>
          <article>
            <div class="padre">
              <div class="imagen">
                <img src="..\images\tartaProducto.png" />
              </div>

              <div>
                <p class="descrip">Tarta</p>
              </div>

              <div>
                <button class="botton">-</button>
                <div class="quantity">
                  <span class="span-quantity">1</span>
                </div>
                <button class="botton">+</button>
              </div>

              <div>
                <p class="precio">$1199.00</p>
              </div>

              <div>

                <input class="Eliminar" type="submit" value="Eliminar">

              </div>

            </div>

          </article>


        </section>

        <section class="sector2">
          <div class="descuento">
            <h4>¿Tenés un cupón de descuento?</h4>
            <div class="cupon">
              <div>
                <label for="fname"></label><br>
                <input class="barra" type="text" placeholder="Código" id="fname" name="codigo">
                <input class="boton" type="button" onclick="" value="Aplicar">
              </div>
            </div>
          </div>

          <div class="total">
            <p class="total1">Total $5500.00</p><br>
            <div class="botones">
              <input class="botonCompra1" type="button" onclick="" value="Continuar comprando">
              <input class="botonCompra3" type="button" onclick="" value="Vaciar carrito">
              <input class="botonCompra2" type="button" onclick="" value="Finalizar compra">
            </div>
          </div>

        </section>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>


</html>