<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>

    <body>
        <%- include ('./partials/header') %>

            <section>
                <img class="carrosuel" src="/images/wok.png" alt="Home Banner">
            </section>
            <main>
                <section class="referencia">
                    <h3>Buscá tus productos por referencia</h3>
                    <div class="tarjetasProducto">
                        <article>
                            <img class="imagenProducto" src="/images/proteinas.png" alt="alto en proteinas">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Alto en proteinas</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/lactosa.png" alt="libre de lacteos">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Libre de lacteos</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/grasa.png" alt="bajo en grasas">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Bajo en grasas</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/gluten.png" alt="libre de gluten">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Sin TACC</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/veggie.png" alt="vegetariano">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Vegetariano</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/hidratos.png" alt="bajo en hidratos">
                            <div class="descripcionAritculo">
                                <h4 class="descripcion">Bajo en hidratos</h4>
                            </div>
                        </article>
                    </div>

                </section>
                <section class="sobreNosotros">
                    <h3>¿Qué nos hace diferentes?</h3>
                    <p>Creemos que todos merecemos comer rico, saludable y facil, sin importar qué tan ocupados estemos
                        en el dia a dia</p>
                    <ol>
                        <li>Ingredientes 100% naturales</li>
                        <li>Teconologia de ultra congelado</li>
                        <li>Rico, como hecho en casa</li>
                    </ol>
                </section>
                <section class="recomendados">
                    <h3>Recomendados</h3>
                    <div class="tarjetasProducto">
                        <article>
                            <img class="imagenProducto" src="/images/frambuesas.png" alt="frambuesas">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$550</p>
                                <!--     <p class="descuento">40% OFF</p> -->
                                <h4 class="descripcion">Frambuesas x 500gr</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/painChoco.png" alt="Pain au chocolat">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$400</p>
                                <!--  <p class="descuento">20% OFF</p> -->
                                <h4 class="descripcion">Pain au chocolat x 6 uni</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/tartaProducto.png" alt="Tarta">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$660</p>
                                <!--    <p class="descuento">10% OFF</p> -->
                                <h4 class="descripcion">Tarta de espinaca grande</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/papas.png" alt="Papas Baston">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$120</p>
                                <!--    <p class="descuento">5% OFF</p> -->
                                <h4 class="descripcion">Papas baston x 500gr</h4>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="recomendados">
                    <h3>Ofertas</h3>
                    <div class="tarjetasProducto">
                        <article>
                            <img class="imagenProducto" src="/images/frambuesas.png" alt="frambuesas">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$550</p>
                                <p class="descuento">40% OFF</p>
                                <h4 class="descripcion">Frambuesas x 500gr</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/painChoco.png" alt="Pain au chocolat">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$400</p>
                                <p class="descuento">20% OFF</p>
                                <h4 class="descripcion">Pain au chocolat x 6 uni</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/tartaProducto.png" alt="Tarta">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$660</p>
                                <p class="descuento">10% OFF</p>
                                <h4 class="descripcion">Tarta de espinaca grande</h4>
                            </div>
                        </article>
                        <article>
                            <img class="imagenProducto" src="/images/papas.png" alt="Papas Baston">
                            <div class="descripcionAritculo">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$120</p>
                                <p class="descuento">5% OFF</p>
                                <h4 class="descripcion">Papas baston x 500gr</h4>
                            </div>
                        </article>
                    </div>
                </section>
            </main>
            <%- include ('./partials/footer.ejs') %>

    </body>

</html>