<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'login.css'}) %>

  <body>
    <!-- Header -->
    <%- include ('./partials/header') %>

    <main class="register">
      <form action="/users/auth" method="POST" enctype="multipart/form-data">
        <div class="box">
          <div class="formBox">
            <label for="email" class="form-label"> Usuario </label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="ingres치 tu E-mail"
              required
            />
          </div>
          <div class="formBox">
            <label for="pass" class="form-label"> Contrase침a </label>
            <input
              type="password"
              name="pass"
              id="pass"
              placeholder="Ingres치 tu contrase침a"
              minlength="8"
              required
            />
          </div>
        </div>
        <div class="formBox">
          <button type="submit" class="button-general">Ingresar</button>
        </div>
        <nav class="registrate">
          <a href="/regmoli"> No tenes cuenta? Registrate </a>
        </nav>
      </form>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
