<!DOCTYPE html>
<html>
<!-- Head -->
<%- include ('./partials/head',{ stylesFile: 'login.css'}) %>


<body>
    
    <!-- Header -->
    <%- include ('./partials/header') %>

        <main class="register">
            <form action="/" method="POST"> <br><br>
                <div class="datos">
                    <label id="email"> Usuario </label> <br>
                    <input type="email" name="email" placeholder="ingres치 tu E-mail" required> <BR><BR>

                    <label id="email"> Contrase침a </label> <br>
                    <input type="password" name="pass" placeholder="Ingres치 tu contrase침a" minlength="8" required> <BR>
                    <BR>

                    <input class="button-submit" type="submit" value="Ingresar"> <br><br>
                    <nav class="registrate">
                        <a href="/regmoli"> No tenes cuenta? Registrate </a>
                    </nav>
                </div>
            </form>

        </main>
        <%- include ('./partials/footer.ejs') %>
</body>

</html>