<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include ('./partials/head',{ stylesFile: 'forms.css'}) %>

  <body>
    <!-- Header -->
    <%- include ('./partials/header') %>

    <main>
      <div class="containerForm">
        <div>
          <h2 class="form-title">Ingresá tus datos</h2>
        </div>
        <form action="/users/auth" method="POST" enctype="multipart/form-data" >
          <div class="formBox">
            <div class="formBox">
              <label for="email" class="form-label"> Usuario </label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Ingresá tu E-mail"
                class="form-input"
                required
              />
            </div>
            <div class="formBox">
              <label for="pass" class="form-label"> Contraseña </label>
              <input
                type="password"
                name="pass"
                id="pass"
                placeholder="Ingresá tu contraseña"
                minlength="8"
                class="form-input"
                required
              />
            </div>
          </div>
          <div class="formBox">
            <button type="submit" class="button-general">Ingresar</button>
          </div>
          <nav class="registrate">
            <a href="/users/regmoli"> ¿No tenes cuenta? Registrate </a>
          </nav>
        </form>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
