<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="css\login.css">
    <link rel="stylesheet" href="css\general-styles.css">
    <link rel="stylesheet" href="css\footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <!--  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Moli</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="ttps://fonts.google.com/specim
        en/Raleway" rel="stylesheet1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/stylesregistro.css">
        <link rel="stylesheet" href="css\general-styles.css" />
        <link rel="stylesheet" href="css\regmoli.css" />

    </head>
    <body> ESTE BLOQUE NO IRIRA-->

    <%- include ('./partials/header') %>

        <main class="register">
            <form action="/" method="POST"> <br><br>
                <div class="datos">
                    <label id="email"> Usuario </label> <br>
                    <input type="email" name="email" placeholder="ingres치 tu E-mail" required> <BR><BR>

                    <label id="email"> Contrase침a </label> <br>
                    <input type="password" name="pass" placeholder="Ingres치 tu contrase침a" minlength="8" required> <BR>
                    <BR>

                    <input class="button-submit" type="submit" value="Ingresar"> <br><br>
                    <nav class="registrate">
                        <a href="/regmoli"> No tenes cuenta? Registrate </a>
                    </nav>
                </div>
            </form>

        </main>
        <%- include ('./partials/footer.ejs') %>
</body>

</html>