<footer>
    <section class="seccionFooter">
<!--                 <div>
            <i class="fas fa-credit-card iconosFooter"></i>
        </div> -->
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section class="seccionFooter">
<!--               <div>
            <i class="fas fa-gift iconosFooter"></i>
        </div> -->
        <h4>Seguinos en las redes</h4>
        <p><i class="fab fa-facebook"></i>Facebook</p>
        <p><i class="fab fa-instagram"></i>Instagram</p>
    </section>
    <section class="seccionFooter">
<!--                 <div>
            <i class="fas fa-user-shield iconosFooter"></i>
        </div> -->
        <h4>Informacion de conacto</h4>
        <p><i class="far fa-envelope"></i>molifrozenfood@gmail.com</p>
        <p><i class="fas fa-phone-alt"></i>+549 11 51143253</p>
        <p><i class="fas fa-map-marker-alt"></i>Av.Libertador 1428, CABA</p>
    </section>
    <section class="copyright">
        <p>Copyright © 2017-2020 Moli: Natural & Frozen Food</p>
    </section>
</footer>
<a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
