<header>
    <div class="topBar">Envios gratis desde $1.000</div>
    <img src="/images/logo-moli.png" alt="Logo Moli">
    <nav>
        <ul class="nav1">
            <li><a href='/'>Inicio</a></li>
            <li><a href='/products/catalog'>Productos</a></li>
            <li><a href=#>Recomendados</a></li>
            <li><a href=#>Ofertas</a></li>
            <li><a href=#>Nuevos</a></li>
        </ul>
        <ul class="nav2">
            <li> <i class="fa fa-search"></i></li>
            <li> <a href="/products/carrito"><i class="fas fa-shopping-basket"></i></a></li>
            <li><a href= '/users/login'>Login</a><i class="fas fa-sign-in-alt"></i></li>
        </ul>
    </nav>
    <div class="hambMenu">
        <i class="fas fa-bars"></i>
    </div>
</header>