<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Titulo de la pagina -->
    <title>MOLI: Natural & frozen food</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/images/favicon.JPG" />
    <!-- Nuestra hoja de estilos -->
    <link rel="stylesheet" href="/css/<%= stylesFile %>">
    <script src="/js/<%= jsFile %>"></script>
</head>