<header>
  <div class="topBar">Envios gratis desde $1.000</div>
  </ul>
    </div>
    <button
    type="button"
    class="btn btn-floating btn-lg"
    id="btn-back-to-top"
    >
    <i class="fas fa-arrow-up"></i>
    </button>
    <nav class="navbar navbar-expand-lg navbar-light mr-auto ">
      <!-- Just an image -->
    <a class="navbar-brand" href="#">
      <img class='imagen-logo' src="/images/logo-moli.png" alt="Logo Moli">
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/catalog">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#offers">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#offers">Recomendados</a>
          </li>
          <% if(userLogged) { %>
            <li class="nav-item"><a class="nav-link" href="/users/<%= userLogged.id%>/edit">Mi perfil</a></li>
            <% }else {%>
            <% } %>
            <% if(userLogged && userLogged.category_id === 1) { %>
              <li class="nav-item"><a class="nav-link" href="/admin">Administrar productos</a></li>
            <% }else {%>
              <li class="nav-item" style="display: none;"><a class="nav-link" href="/admin">Administrar productos</a></li>
            <% } %>
        </ul>
          <ul class="navbar-nav nav2 ">
            <li class="nav-item">
              <form action="/products/search" method="GET" class="searchBar">
                <input  type="text" name="valueSearch" id="search" placeholder="Buscar por nombre"/>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <li class="nav-item">
              <a  class="nav-link" href="/products/carrito"><i class="fas fa-shopping-basket"></i></a>
            </li>
  
            <% if(userLogged) { %>
              <li class="nav-item">
                <form  id='logout' class="form-inline my-2 my-lg-0" action="/users/logout" method="POST" enctype="multipart/form-data">
                  <button type="submit" id="button-general">Logout</button><i class="fas fa-sign-in-alt"></i>
                </form>
              </li>
              <% }else {%>
                <li class="nav-item">
                  <a href="/users/login">Login</a><i class="fas fa-sign-in-alt"></i>
                </li>
                <% } %>
          </ul>
        
        
      </div>
    </nav>
</header>
