<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head',{ stylesFile: 'carrito.css', jsFile: 'shoppingCart.js'}) %>
  <body>
    <%- include ('./partials/header') %>
    <main>
      <h1>Mi carrito</h1>
      <div class="sectors">
        <section id="sector1" class="sector1">

        </section>
        <section class="sector2">
          <div class="discount">
            <h4>¿Tenés un cupón de descuento?</h4>
            <div class="cupon">
              <div>
                <label for="fname"></label>
                <input class="bar" type="text" placeholder="Código" id="fname" name="codigo">
                <input class="button" type="button" onclick="" value="Aplicar">
              </div>
            </div>
          </div>
          <div class="total">
            <p class="total1">Total $$$$$</p>
            <div class="buttons">
              <button id="continue" type="submit" value="keepShopping" class="button-general">
               Seguir comprando
              </button>
              <button id="reset" type="reset" value="emptyCart" class="button-general">
                Vaciar carrito
              </button>
              <button id="addTransaction" type="submit" value="checkout" class="button-general">
                Finalizar compra
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>